<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start" style="font-size: 25px">
      <ion-button color="primary" routerLink="/" routerDirection="forward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="text-align: center">
      Esqueci minha senha
    </ion-title>

    <ion-buttons slot="end" style="font-size: 25px">
      <ion-button color="primary" (click)="enviar()" [disabled]="forgotPasswordForm.invalid">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form [formGroup]="forgotPasswordForm">

    <ion-list padding>

      <ion-item no-padding lines="none">
        <ion-label>
          <ion-icon name="mail"></ion-icon>E-mail
        </ion-label>
      </ion-item>
      <ion-item no-padding lines="none" style="border: solid 1px #ccc">
        <ion-input no-padding formControlName="email" type="email" autocomplete="off"></ion-input>
      </ion-item>

      <p *ngIf="forgotPasswordForm.get('email').errors && forgotPasswordForm.get('email').touched && !forgotPasswordForm.get('email').value"
        class="error">
        {{forgotPasswordForm.get('email').errors.message}}</p>


      <p *ngIf="forgotPasswordForm.get('email').errors && forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').value"
        class="error">Email inválido.</p>

      <!-- <ion-button type="submit" color="primary" expand="full" class="mgt20" [disabled]="forgotPasswordForm.invalid">Enviar </ion-button> -->

    </ion-list>

  </form>
  
</ion-content>