<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <ion-item>

      <ion-label class="label-custom" position="floating"><ion-icon name="mail"></ion-icon>E-mail</ion-label>
      <ion-input type="email" formControlName="email" autocomplete="off" padding-end></ion-input>
      
    </ion-item>

    
    <p *ngIf="loginForm.get('email').errors && loginForm.get('email').touched && !loginForm.get('email').value" class="error">
      {{loginForm.get('email').errors.message}}</p>

    
    <p *ngIf="loginForm.get('email').errors && loginForm.get('email').touched && loginForm.get('email').value" class="error">Email inválido.</p>

    <ion-item>
      <ion-label class="label-custom" position="floating"><ion-icon name="lock"></ion-icon>Senha</ion-label>
      <ion-input type="password" formControlName="password" autocomplete="off"></ion-input>
    </ion-item>

    <p *ngIf="loginForm.get('password').errors && loginForm.get('password').touched" class="error">
      {{loginForm.get('password').errors.message}}</p>

    <ion-button type="submit" expand="block" [disabled]="loginForm.invalid">Login</ion-button>
    <ion-button expand="block" color="secondary" routerLink="/register" routerDirection="forward">Register</ion-button>

  </form>
</ion-content>