<ion-header>
  <ion-toolbar>
    <ion-title>
      Cálculo
    </ion-title>
    <ion-buttons slot="end" style="font-size: 25px">
      <ion-icon name="log-out" (click)="logout()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-slides [options]="slideOpts" #slides>
    <ion-slide style="flex-direction: column;">

      <!-- <h1>Slide 1</h1> -->
      <form [formGroup]="calcForm">

        <ion-item>
          <ion-label class="label-custom" position="floating">
            <ion-icon name="cloudy"></ion-icon>Temperatura Máxima
          </ion-label>
          <ion-input formControlName="tmax" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="label-custom" position="floating">
            <ion-icon name="cloudy"></ion-icon>Temperatura Mínima
          </ion-label>
          <ion-input formControlName="tmin" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="label-custom" position="floating">
            <ion-icon name="cloudy"></ion-icon>Temperatura Média
          </ion-label>
          <ion-input formControlName="tmed" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="label-custom" position="floating">
            <ion-icon name="locate"></ion-icon>Latitude
          </ion-label>
          <ion-input formControlName="latitude" type="number" (ionBlur)="radiacaoPorDia()"></ion-input>
        </ion-item>
        
      </form>

      <ion-button (click)="next()" size="small">Proximo</ion-button>

    </ion-slide>

    <ion-slide style="flex-direction: column;">

      <!-- <h1>Slide 2</h1> -->

      <form [formGroup]="calcForm">

        <ion-item style="display: none;">
          <ion-input formControlName="ra" type="number"></ion-input>
        </ion-item>

        <ion-item style="display: none;">
          <ion-input formControlName="kc" type="number"></ion-input>
        </ion-item>

        <ion-item style="display: none;">
          <ion-input formControlName="culture_id" type="number"></ion-input>
        </ion-item>

        <ion-button type="button" size="small" color="light" (click)="openDialogKc()">Informe o Kc</ion-button>
        <span *ngIf="kc">
          Kc informado: <i>{{kc}}</i>
        </span>

        <ion-item>
          <ion-label class="label-custom" position="floating">
            <ion-icon name="crop"></ion-icon>Área do vaso(m²)
          </ion-label>
          <ion-input formControlName="area" type="number"></ion-input>
          <ion-icon name="help-circle" (click)="openDialogArea()"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label class="label-custom" position="floating">
            <ion-icon name="flower"></ion-icon>Eficiência do Sistema
          </ion-label>
          <ion-input formControlName="eficiencia" type="number"></ion-input>
          <ion-icon name="help-circle" (click)="openDialogEficiencia()"></ion-icon>
        </ion-item>

      </form>

      <ion-button (click)="prev()" size="small" color="light">Anterior</ion-button>

    </ion-slide>
  </ion-slides>

  <ion-button type="button" expand="block" [disabled]="calcForm.invalid" (click)="onCalcFormSubmit()">Calcular </ion-button>

</ion-content>