<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        
      <ion-button (click)="dimissModal()" color="primary"><ion-icon name="arrow-round-back"></ion-icon></ion-button>

    </ion-buttons>

    <ion-title style="text-align: center">Eficiência Irrigação Localizada</ion-title>

    <ion-buttons slot="end">

      <ion-button type="button" size="large" color="primary" (click)="setarEficiencia()" [disabled]="eficienciaForm.invalid"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="eficienciaForm">

    <ion-list padding>
      <ion-radio-group formControlName="eficiencia">

        <div *ngFor="let data of dataEficiencia">

          <ion-label>Eficiência</ion-label>
          <ion-item no-padding>
            <ion-label class="text-subtitle">{{data.value}}</ion-label>
            <ion-radio slot="end" [value]="data.value"></ion-radio>
          </ion-item>

        </div>

      </ion-radio-group>
    </ion-list>

  </form>

</ion-content>