// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.searchbar-input{
    background-color: #dedede !important;
}

.error{
    margin: 3px 0px 0px 0px;
    color: red;
    font-size: 15px;
}

.label-custom{
    display: flex !important;
    align-items: center;
}

.label-custom ion-icon{
    margin-right: 5px;
}

.vertical-center{
    display: flex;
    align-items: center;
    height: 100%;
}

.vertical-center form{
    width: 100%;
}

.mgt20{
    margin-top: 20px;
}

.flex-column{
    display: flex !important;
    flex-direction: column;
}

.mgt40{
    margin-top: 40px;
}

.pointer{
    cursor: pointer;
}

.text-subtitle{
    font-size: 12px !important;
    margin-top: 1em;
    color: #74767a !important;
}

.text-title{
    font-size: 16px !important;
    color: black !important;
}

